@using DispatcherWeb.Trucks.Dto
@model TruckFileEditDto

<tr data-id="@Model.Id">
    <td>
        <input type="text" class="form-control" value="@Model.Title"/>
        <br/>
        <button type="button" class="btn btn-danger" data-id="@Model.Id">Delete</button>
    </td>
    <td>
        <textarea class="form-control" rows="3">@Model.Description</textarea>
    </td>
    <td>
        <a href="@Url.Action("DownloadFile", new { truckId = Model.TruckId, fileId = Model.FileId, fileName = Model.FileName})">
            @if(Model.ThumbnailId.HasValue)
            {
                <img src="@Url.Action("DownloadFile", new { truckId = Model.TruckId, fileId = Model.ThumbnailId.Value, fileName = Model.FileName})" />

            }
            else
            {
                <i class="fa-5x fa @Utilities.GetFontAwesomeClass(Model.FileType)"></i>
            }
        </a>
    </td>
</tr>
