@using System.Threading.Tasks
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@using DispatcherWeb.Orders.Dto
@model SharedOrderListDto
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Share Order"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <input type="hidden" asp-for="OrderId" />
        <div class="form-group required-label">
            <label>Select Offices:</label>
        </div>
        @foreach (var item in Model.SharedOrders)
        {
            <div class="form-group">
                <input type="checkbox" class="minimal shared-order-item" @(item.Checked ? "checked" : "") id="office-@item.OfficeId" data-id="@item.OfficeId">
                <label for="office-@item.OfficeId">@item.OfficeName</label>
            </div>
        }
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>@L("ShareButton")</span></button>
</div>
