@using System.Threading.Tasks
@using DispatcherWeb.Infrastructure
@using DispatcherWeb.Quotes.Dto
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@model DispatcherWeb.Web.Areas.App.Models.DriverMessages.SendMessageModalViewModel
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Send Message"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        <input type="hidden" asp-for="OrderLineId" />
        <div class="form-group">
            <label class="required-label">Subject</label>
            <input class="form-control" type="text" name="Subject" maxlength="@EntityStringFieldLengths.DriverMessage.Subject" required>
        </div>
        <div class="form-group">
            <label class="required-label">Body</label>
            <textarea type="text" class="form-control" rows="5" name="Body" maxlength="@EntityStringFieldLengths.DriverMessage.Body" required></textarea>
        </div>
        <div class="form-group" @Html.StyleDisplayNone(Model.OrderLineId.HasValue)>
            <label class="required-label">Offices</label>
            <select class="form-control" name="OfficeIds" id="OfficeIds" multiple="multiple"></select>
        </div>
        <div class="form-group">
            <label class="required-label">Drivers</label>
            <select class="form-control" name="DriverIds" id="DriverIds" multiple="multiple">
                @if (Model.Drivers != null)
                {
                    foreach (var driver in Model.Drivers.Items)
                    {
                        <option
                            value="@driver.Id"
                            selected=@(!Model.SelectedDriverId.HasValue
                                || Model.SelectedDriverId.ToString() == driver.Id ? "selected" : null)
                        >
                            @driver.Name
                        </option>
                    }
                }
            </select>
        </div>
        <div class="m-checkbox-inline">
            @if (Model.OrderLineId.HasValue && Model.OrderLineIsShared)
            {
            <label for="IncludeSharedTrucks" class="m-checkbox">
                <input type="checkbox" class="minimal" name="IncludeSharedTrucks" id="IncludeSharedTrucks" value="true">
                This is a shared order. Include the drivers from the office the order is shared with.
                <span></span>
            </label>
            }
        </div>

    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>Send</span></button>
</div>