@using Abp.Configuration
@using DispatcherWeb.Configuration
@using DispatcherWeb.Infrastructure 
@using DispatcherWeb.TimeOffs
@using DispatcherWeb.TimeOffs.Dto
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@model TimeOffEditDto
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.Id > 0 ? "Edit Time Off Request" : "Add new time off request"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation" name="TimeOffForm">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label><span class="required-label">@L("Driver")</span></label>
            <select class="form-control" asp-for="DriverId" required>
                <option value="">Select a driver</option>
                @if (Model.DriverId > 0)
                {
                    <option value="@Model.DriverId" selected>@Model.DriverName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="StartDate"><span class="required-label">@L("StartDate")</span></label>
            <input class="form-control" type="text" asp-for="StartDate" required>
        </div>
        <div class="form-group">
            <label for="EndDate"><span class="required-label">@L("EndDate")</span></label>
            <input class="form-control" type="text" asp-for="EndDate" required>
        </div>
        <div class="form-group">
            <label for="RequestedHours"><span>@L("RequestedHours")</span></label>
            <input class="form-control" type="text" asp-for="RequestedHours">
        </div>
        <div class="form-group">
            <label for="Reason"><span>@L("Reason")</span></label>
            <input class="form-control" type="text" asp-for="Reason" data-rule-maxlength="@EntityStringFieldLengths.TimeOff.Reason">
        </div>

    </form>
</div>

@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
