@using Abp.Authorization.Users
@section Scripts
{
    <script abp-src="/view-resources/Views/Account/ForgotPassword.js" asp-append-version="true"></script>
}

<form class="forget-form" asp-action="SendPasswordResetLink" method="post">
    <h3>@L("ForgotPassword")</h3>
    <p class="login-page-description">
        @L("SendPasswordResetLink_Information")
    </p>
    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="@L("EmailAddress")" name="EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength" />
    </div>
    <div class="form-actions">
        <a asp-action="Login"><button type="button" id="back-btn" class="btn btn-default">@L("Back")</button></a>
        <button type="submit" class="btn btn-primary pull-right">@L("Submit")</button>
    </div>
</form>