@using System.Threading.Tasks
@using System.Globalization
@using Abp.AspNetZeroCore.Timing
@using Abp.Configuration.Startup
@using Abp.Timing
@using Abp.Web.Security.AntiForgery
@using DispatcherWeb.Localization
@using DispatcherWeb.Url
@using DispatcherWeb.Web.Resources
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebResourceManager WebResourceManager
@inject IWebUrlService WebUrlService
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>DispatcherWeb</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="DispatcherWeb" name="description" />
    <meta content="DispatcherWeb" name="keywords">
    <meta content="DispatcherWeb" name="author" />

    @await Html.PartialAsync("_CommonInlineStyles")
    @await Html.PartialAsync("_ApplicationInsights")
    @await Html.PartialAsync("_Favicons")

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/dist/html/blue/assets/demo/blue/base/style.bundle.css" asp-append-version="true" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.css" asp-append-version="true" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true" />

    <link rel="stylesheet" abp-href="/view-resources/Views/Account/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Scripts/Datatables/datatables.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Styles/metronic-customize.css" asp-append-version="true" />

    @RenderSection("Styles", false)

    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<body class="m-page--fluid m--skin-light2
      m-content--skin-light2
      m-header--fixed
      m-header--fixed-mobile
      m-aside-left--fixed
      @(Context.Request.Cookies.ContainsKey("sidebar_toggle_state") && Context.Request.Cookies["sidebar_toggle_state"] == "on" ? "m-aside-left--minimize m-brand--minimize":"")
      m-aside-left--enabled
      m-aside-left--skin-light
      m-aside-left--offcanvas">
    <div class="menu-toggler sidebar-toggler">
    </div>
    <div class="content">
        <div class="dispatch_block" style="width:initial">
            @RenderBody()
        </div>
        <div class="footer-copyright">
            @Clock.Now.Year © Dump Truck Dispatcher LLC.
        </div>
    </div>

    <script abp-src="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/scripts.bundle.js" asp-append-version="true"></script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="@(ApplicationPath)AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script type="text/javascript">
        abp.localization.currentCulture = $.extend({}, abp.localization.currentCulture, { displayNameEnglish: '@CultureInfo.CurrentUICulture.EnglishName' });
        moment.locale('@(CultureHelper.UsingLunarCalendar ? "en": CultureInfo.CurrentUICulture.Name )'); //Localizing moment.js
    </script>
    <script src="@(ApplicationPath)lib/@@aspnet/signalr/dist/browser/signalr.min.js/signalr.min.js" asp-append-version="true"></script>
    <script src="@(ApplicationPath)lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/common-scripts.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/app-common-scripts.js" asp-append-version="true"></script>

    <script src="~@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.JQuery_Timeago_Localization" asp-append-version="true"></script>
    <script src="~@ScriptPaths.Select2_Localization" asp-append-version="true"></script>

    @WebResourceManager.RenderScripts()

    @RenderSection("Scripts", false)

    <partial name="_UserGuidingScript" />
</body>
</html>
