@using System.Threading.Tasks
@using Abp.Extensions
@using Abp.Configuration
@using DispatcherWeb.Authorization
@using DispatcherWeb.Configuration
@using DispatcherWeb.Features
@using DispatcherWeb.Infrastructure.Extensions
@using DispatcherWeb.Receipts.Dto
@using DispatcherWeb.Web.Areas.App.Startup
@using DispatcherWeb.Web.Resources
@inject ScriptPaths ScriptPaths
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.ViewOrders;
}
@model ReceiptEditDto

@section Scripts{
    <script>HeartlandPublicKey = '@(await ScriptPaths.GetHeartlandPublicKeyAsync())'; </script>
    <script type="text/javascript" src="//api2-c.heartlandportico.com/SecureSubmit.v1/token/gp-1.0.1/globalpayments.js"></script>

    <environment names="Development">
        <script src="~/view-resources/Areas/app/Views/Receipts/_CreateOrEditReceiptLineModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/app/Views/Receipts/Details.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/app/Views/Receipts/_CreateOrEditReceiptLineModal.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/app/Views/Receipts/Details.min.js" asp-append-version="true"></script>
    </environment>

}
<div class="m-subheader ">
    <div class="row align-items-center">
        <div class="mr-auto col-md-8 col-12 mb-3 text-center text-md-left">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("Receipts")</span>
            </h3>
            <span class="m-section__sub">
                @L("ReceiptDetail_Description")
            </span>
            <span class="m-section__sub order-payment-status" style="display:none">
                <i class="fa fa-credit-card"></i><span id="OrderPaymentStatus"></span>
            </span>
        </div>
        <div class="col-sm-12 col-md-4 text-center text-md-right mb-3">
            @if((await FeatureChecker.GetValueAsync(AppFeatures.AllowPaymentProcessingFeature)).To<bool>())
            {
                @*<button type="button" class="btn btn-primary m--margin-right-10 mb-3" id="AuthorizeChargeButton" style="display: none">
                    <i class="fa fa-credit-card"></i>@L("AuthorizeCharge")
                </button>*@
                <button type="button" class="btn btn-primary m--margin-right-10 mb-3" id="CaptureAuthorizationButton" style="display: none">
                    <i class="fa fa-credit-card"></i>@L("FinalizePayment")
                </button>
                @*<button type="button" class="btn btn-primary m--margin-right-10 mb-3" id="CancelAuthorizationButton" style="display: none">
                    <i class="fa fa-credit-card"></i>@L("CancelAuthorization")
                </button>*@
                @*<button type="button" class="btn btn-primary m--margin-right-10 mb-3" id="RefundPaymentButton" style="display: none">
                    <i class="fa fa-credit-card"></i>@L("RefundPayment")
                </button>*@
            }
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <form id="ReceiptForm" class="order-form m-form">
            <div class="m-portlet__body">
                <div class="box-body form-horizontal-custom">
                    <div>
                        <div class="col-lg-12">
                            <input type="hidden" asp-for="IsMaterialTotalOverridden" />
                            <input type="hidden" asp-for="IsFreightTotalOverridden" />
                            <input type="hidden" asp-for="AuthorizationDateTime" />
                            <input type="hidden" asp-for="AuthorizationCaptureDateTime" />
                            <input type="hidden" asp-for="OrderId" />
                            <div class="m-form__group row">
                                <div class="col-lg-6 col-12 form-group">
                                    <div class="row">
                                        <label for="Id" class="col-xl-4 col-form-label">@L("ReceiptNumber"):</label>
                                        <div class="col-sm-8 col-12">
                                            <input type="text" class="form-control m-input" asp-for="Id" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 form-group ">
                                    <div class="box-actions">
                                        <button id="PrintReceiptButton" class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10 mb-3">
                                            <span>
                                                <i class="la la-print"></i>
                                                <span>@L("Print")</span>
                                            </span>
                                        </button>
                                        <button id="EmailReceiptButton" class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10 mb-3">
                                            <span>
                                                <i class="la la-envelope-o"></i>
                                                <span>@L("EmailReceipt")</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__group row">
                                <div class="col-sm-6 col-12 form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-4 required-label">@L("DeliveryDate"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control m-input" asp-for="DeliveryDate" required autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-4 required-label">@L("ReceiptDate"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control m-input" asp-for="ReceiptDate" required autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (await SettingManager.GetSettingValueAsync<bool>(AppSettings.General.UseShifts))
                            {
                                <div class="m-form__group row">
                                    <div class="col-sm-6 col-12 form-group">
                                        <div class="row">
                                            <label class="control-label col-sm-4 required-label">@L("Shift"):</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" asp-for="Shift" asp-items="@(await SettingManager.GetShiftSelectList()).Select(x => new SelectListItem(x.Name, x.Id))" required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12 form-group">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group m-form__group row" @Html.StyleDisplayNone(Model.IsSingleOffice)>
                                <label class="control-label col-sm-2 col-12">@L("Office"):</label>
                                <div class="col-sm-6 col-12">
                                    <select class="form-control" asp-for="OfficeId" disabled="@(Model.IsSingleOffice || true ? "disabled" : null)"> @*permanently disabled because lines are populated from the tickets based on the user's office*@
                                        <option value="">Select an office</option>
                                        @if (Model.OfficeId != 0)
                                        {
                                            <option selected value="@Model.OfficeId">@Model.OfficeName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="control-label col-sm-2 col-12 required-label">@L("Customer"):</label>
                                <div class="col-sm-6 col-8">
                                    <select class="form-control" asp-for="CustomerId">
                                        <option value="">Select a customer</option>
                                        @if (Model.CustomerId != 0)
                                        {
                                            <option selected value="@Model.CustomerId">@Model.CustomerName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="control-label col-sm-2 col-12">@L("Quote"):</label>
                                <div class="col-sm-6 col-12">
                                    <select class="form-control quote-dropdown" asp-for="QuoteId">
                                        <option value=""
                                                data-placeholder-default="Not on a quote"
                                                data-placeholder-no-items="No quotes defined for the selected customer"
                                                data-placeholder-no-parent="Select a customer first">
                                            Select a quote
                                        </option>
                                        @if (Model.QuoteId.HasValue)
                                        {
                                            <option selected value="@Model.QuoteId">@Model.QuoteName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="m-form__group row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">@L("JobNumber"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" asp-for="JobNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">@L("PONumber"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" asp-for="PoNumber">
                                        </div>
                                    </div>
                                </div>
                            </div><div class="m-form__group row" style="display: none">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">@L("MaterialTotal"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" readonly asp-for="MaterialTotal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">@L("FreightTotal"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" readonly asp-for="FreightTotal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__group row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">@L("SalesTaxRate"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" asp-for="SalesTaxRate" data-rule-number="true" data-rule-min="0" data-rule-max="1000000000">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">@L("SalesTax"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" asp-for="SalesTax" data-rule-number="true" data-rule-min="0" data-rule-max="@AppConsts.MaxDecimalDatabaseLength">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__group row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">@L("Total"):</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" asp-for="Total" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                        <div class="col-12 editing-only-block" style="@(Model.Id > 0 ? "" : "display:none")">
                            <div class="box-header-top clearfix">
                                <div class="box-actions pull-right">
                                    <button type="button" class="btn btn-default" id="CreateNewReceiptLineButton"><i class="fa fa-plus"></i>@L("AddNew")</button>
                                </div>
                            </div>
                            <div style="padding-top: 10px; margin-left: -5px; margin-right: -5px;">
                                <table class="display table table-striped table-bordered table-hover dt-responsive nowrap" id="ReceiptLinesTable"></table>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <button type="button" id="SaveReceiptButton" class="btn btn-primary">@L("Save")</button>
                </div>
            </div>
        </form>
    </div>
</div>