@using System.Threading.Tasks
@using Abp.Extensions
@using DispatcherWeb.Authorization
@using DispatcherWeb.Configuration
@using DispatcherWeb.Infrastructure
@using DispatcherWeb.VehicleMaintenance
@using DispatcherWeb.VehicleServiceTypes
@using DispatcherWeb.WorkOrders.Dto
@using DispatcherWeb.Web.Areas.App.Startup
@using DispatcherWeb.Web.Utils
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.WorkOrders;
}
@model WorkOrderEditDto
@inject IVehicleServiceTypeAppService VehicleServiceTypeAppService
@section Scripts {
    <script src="~/view-resources/Areas/app/Views/WorkOrders/Details.js" asp-append-version="true"></script>
}

<div class="m-subheader ">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("WorkOrderHeader")</span>
            </h3>
            <span class="m-section__sub">
            </span>
        </div>
        @if (PermissionChecker.IsGranted(AppPermissions.Pages_ActiveReports_VehicleMaintenanceWorkOrderReport))
        {
            <div class="col-sm-12 col-md-6 text-right">
                <button id="PrintWorkOrderButton" type="button" class="btn btn-primary" asp-action="Details"><i class="fa fa-print"></i> @L("Print")</button>
            </div>
        }
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <form role="form" novalidate class="form-validation" id="WorkOrderForm" asp-action="Details">
                <input type="hidden" class="filter" asp-for="Id" />
                <input type="hidden" class="filter" asp-for="IsTotalLaborCostOverridden" />
                <input type="hidden" class="filter" asp-for="IsTotalPartsCostOverridden" />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label required-label" asp-for="IssueDate">@L("IssueDate"):</label>
                        <input type="text" class="form-control" asp-for="IssueDate" required autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="StartDate" id="lblStartDate">@L("StartDate"):</label>
                        <input type="text" class="form-control" asp-for="StartDate" autocomplete="off">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="CompletionDate" id="lblCompletionDate">@L("CompletionDate"):</label>
                        <input type="text" class="form-control" asp-for="CompletionDate" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">@L("ServiceType"):</label>
                        <select class="form-control" asp-for="VehicleServiceTypeId">
                            <option value="">Select service type</option>
                            @if (Model.VehicleServiceTypeId != 0)
                            {
                                <option selected value="@Model.VehicleServiceTypeId">@Model.VehicleServiceTypeName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">@L("Status"):</label>
                        <select class="form-control" asp-for="Status" asp-items="@Html.GetEnumSelectListWithDefaults<WorkOrderStatus>()"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label required-label">@L("Vehicle"):</label>
                        <select class="form-control" asp-for="TruckId" required="">
                            <option value="">Select a truck</option>
                            @if (Model.TruckId != 0)
                            {
                                <option selected value="@Model.TruckId">@Model.TruckCode</option>

                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">@L("Notes"):</label>
                        <textarea class="form-control" rows="3" asp-for="Note" data-rule-maxlength="@EntityStringFieldLengths.WorkOrder.Note"></textarea>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 col-md-4">
                        <label class="control-label">@L("Odometer"):</label>
                        <input type="text" class="form-control" asp-for="Odometer" required data-rule-number="true" data-rule-min="0" data-rule-max="10000000">
                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <label class="control-label">@L("Hours"):</label>
                        <input type="text" class="form-control" asp-for="Hours" required data-rule-number="true" data-rule-min="0" data-rule-max="1000000000">
                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <label class="control-label">@L("AssignedTo"):</label>
                        <select class="form-control" asp-for="AssignedToId">
                            <option value="">Select a user</option>
                            @if (Model.AssignedToId != 0)
                            {
                                <option selected value="@Model.AssignedToId">@Model.AssignedToName</option>
                            }
                        </select>
                    </div>
                </div>
                @*<div class="row editing-only-block" style="@(Model.Id > 0 ? "" : "display:none")">*@
                <div class="row editing-only-block">
                    <div class="form-group col-lg-5 col-12">
                        <div class="row">
                            <label class="col-md-2 col-12">@L("Files"):</label>
                            <div class="col-md-8">
                                <div class="btn btn-primary fileinput-button">
                                    <i class="fa fa-plus"></i>
                                    <span> @L("AddFile") </span>
                                    <input id="Picture" type="file" accept="application/msword, application/vnd.ms-excel, application/pdf, image/*" data-url="@Url.Action("UploadPicture")" data-allowed-extensions="doc, docx, pdf, xls, xlsx, jpg, png, gif" />
                                </div>
                                <div class="btn btn-primary fileinput-button">
                                    <i class="fa fa-camera"></i>
                                    <span> @L("TakePicture") </span>
                                    <input id="CameraPicture" type="file" accept="image/*" data-url="@Url.Action("UploadPicture")" data-allowed-extensions="jpg, png, gif" />
                                </div>
                                <div id="Uploading" style="display:none">Uploading...</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12">
                        <table class="table table-striped table-bordered table-hover order-lines-table" id="PicturesTable">
                            <tbody>
                                @foreach (var picture in Model.Pictures)
                                {
                                    @await Html.PartialAsync("_Picture", picture)
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6">
                        <label class="control-label required-label">@L("TotalLaborCost"):</label>
                        <input type="text" class="form-control" asp-for="TotalLaborCost" required data-rule-number="true" data-rule-min="0" data-rule-max="@AppConsts.MaxDecimalDatabaseLength">
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                        <label class="control-label required-label">@L("TotalPartsCost"):</label>
                        <input type="text" class="form-control" asp-for="TotalPartsCost" required data-rule-number="true" data-rule-min="0" data-rule-max="@AppConsts.MaxDecimalDatabaseLength">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6">
                        <label class="control-label required-label">@L("Tax") %:</label>
                        <input type="text" class="form-control" asp-for="Tax" required data-rule-number="true" data-rule-min="0" data-rule-max="1000000">
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                        <label class="control-label required-label">@L("Discount") %:</label>
                        <input type="text" class="form-control" asp-for="Discount" required data-rule-number="true" data-rule-min="0" data-rule-max="1000000">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6">
                        <label class="control-label required-label">@L("TotalCost"):</label>
                        <input type="text" class="form-control" asp-for="TotalCost" required data-rule-number="true" data-rule-min="0" data-rule-max="@AppConsts.MaxDecimalDatabaseLength">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12 editing-only-block" style="@(Model.Id > 0 ? "" : "display:none")">
                    <div class="box-header-top clearfix">
                        <div class="grid-caption pull-left">
                            <label>@L("WorkOrderItems")</label>
                        </div>
                        <div class="box-actions pull-right">
                            <button type="button" class="btn btn-default" id="CreateNewWorkOrderLineButton"><i class="fa fa-plus"></i>@L("AddWorkOrderItem")</button>
                        </div>
                    </div>
                    <div style="padding-top: 10px;">
                        <table class="display table table-striped table-bordered table-hover dt-responsive nowrap" id="WorkOrderLinesTable"></table>

                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot">
            <div class="row">
                <button type="button" id="SaveWorkOrderButton" class="btn btn-primary">@L("Save")</button>
            </div>
        </div>
    </div>
</div>
