@using DispatcherWeb.Authorization;
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-brand fade show" role="alert">
                <div class="m-alert__icon">
                    <i class="flaticon-exclamation" aria-label="@L("Welcome")"></i>
                    <span></span>
                </div>
                <div class="m-alert__text">
                    <h5>@L("ChooseRedirectTargetPage_Title")</h5>
                    @L("ChooseRedirectTargetPage_Info")<br />
                    @if (IsGranted(AppPermissions.Pages_Dashboard))
                    {
                        <a asp-action="Index" asp-controller="Dashboard" class="btn btn-primary">Main application</a>
                    }
                    @if (IsGranted(AppPermissions.Pages_DriverApplication_WebBasedDriverApp))
                    {
                        <a asp-action="PWA" asp-controller="DriverApplication" class="btn btn-primary">@L("WebBasedDriverApp")</a>
                    }
                    @if (IsGranted(AppPermissions.Pages_DriverApplication_ReactNativeDriverApp))
                    {
                        <a asp-action="ReactNative" asp-controller="DriverApplication" class="btn btn-primary">@L("ReactNativeDriverApp")</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>    
