@using Abp.Application.Features
@using DispatcherWeb.Features
@using DispatcherWeb.Configuration.Tenants.Dto
@using DispatcherWeb.Dispatching
@using DispatcherWeb.Infrastructure.Extensions
@model DispatchingAndMessagingSettingsEditDto

<div class="tab-pane" id="DispatchingAndMessagingTab">
    <div class="row">
        <div class="col-sm-12">
            <h5>@L("Settings_DispatchingAndMessaging")</h5>
            <form id="DispatchingAndMessagingSettingsForm" class="m-form">
                @if (await FeatureChecker.IsEnabledAsync(AppFeatures.DispatchingFeature))
                {
                    <div class="form-group">
                        <div class="m-radio-list">
                            <label>Dispatch via</label>
                            <label class="m-radio">
                                <input type="radio" name="DispatchVia" value="@DispatchVia.None.ToIntString()" @(Model.DispatchVia == DispatchVia.None ? "checked=\"checked\"" : "")> None
                                <span></span>
                            </label>
                            @if (await FeatureChecker.IsEnabledAsync(AppFeatures.SmsIntegrationFeature))
                            {
                                <label class="m-radio">
                                    <input type="radio" name="DispatchVia" value="@DispatchVia.SimplifiedSms.ToIntString()" @(Model.DispatchVia == DispatchVia.SimplifiedSms ? "checked=\"checked\"" : "")> Simplified SMS
                                    <span></span>
                                </label>
                            }
                            <label class="m-radio">
                                <input type="radio" id="radioDriverApplication" name="DispatchVia" value="@DispatchVia.DriverApplication.ToIntString()" @(Model.DispatchVia == DispatchVia.DriverApplication ? "checked=\"checked\"" : "")> Driver Application
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div id="AdditionalSettings">
                        <div class="form-group margin-top-20">
                            <label for="HideTicketControlsInDriverApp" class="m-checkbox col-lg-12">
                                <input id="HideTicketControlsInDriverApp" type="checkbox" name="HideTicketControlsInDriverApp" value="true" @(Model.HideTicketControlsInDriverApp ? "checked=\"checked\"" : "")>
                                @L("Settings_HideTicketControlsInDriverApp")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group margin-top-20">
                            <label for="RequireDriversToEnterTickets" class="m-checkbox col-lg-12">
                                <input id="RequireDriversToEnterTickets" type="checkbox" name="RequireDriversToEnterTickets" value="true" @(Model.RequireDriversToEnterTickets ? "checked=\"checked\"" : "")>
                                @L("Settings_RequireDriversToEnterTickets")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group margin-top-20">
                            <label for="RequireSignature" class="m-checkbox col-lg-12">
                                <input id="RequireSignature" type="checkbox" name="RequireSignature" value="true" @(Model.RequireSignature ? "checked=\"checked\"" : "")>
                                @L("Settings_RequireSignature")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group margin-top-20">
                            <label for="RequireTicketPhoto" class="m-checkbox col-lg-12">
                                <input id="RequireTicketPhoto" type="checkbox" name="RequireTicketPhoto" value="true" @(Model.RequireTicketPhoto ? "checked=\"checked\"" : "")>
                                @L("Settings_RequireTicketPhoto")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group margin-top-20">
                            <label for="DispatchesLockedToTruck" class="m-checkbox col-lg-12">
                                <input id="DispatchesLockedToTruck" type="checkbox" name="DispatchesLockedToTruck" value="true" @(Model.DispatchesLockedToTruck ? "checked=\"checked\"" : "")>
                                @L("Settings_DispatchesLockedToTruck")
                                <span></span>
                            </label>
                        </div>
                        @if (await FeatureChecker.IsEnabledAsync(AppFeatures.SmsIntegrationFeature))
                        {
                            <div class="form-group">
                                <div class="m-radio-list">
                                    <label>@L("Settings_SendSmsOnDispatching")</label>
                                    <label class="m-radio">
                                        <input type="radio" name="SendSmsOnDispatching" value="@SendSmsOnDispatchingEnum.DontSend.ToIntString()" @(Model.SendSmsOnDispatching == SendSmsOnDispatchingEnum.DontSend ? "checked=\"checked\"" : "")> Don't send
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="SendSmsOnDispatching" value="@SendSmsOnDispatchingEnum.SendWhenUserNotClockedIn.ToIntString()" @(Model.SendSmsOnDispatching == SendSmsOnDispatchingEnum.SendWhenUserNotClockedIn ? "checked=\"checked\"" : "")> Send when user not clocked in
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="SendSmsOnDispatching" value="@SendSmsOnDispatchingEnum.SendForAllDispatches.ToIntString()" @(Model.SendSmsOnDispatching == SendSmsOnDispatchingEnum.SendForAllDispatches ? "checked=\"checked\"" : "")> Send for all dispatches
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="form-group col-8">
                                <label asp-for="TextForSignatureView">@L("TextForSignatureView")</label>
                                <textarea class="form-control" asp-for="TextForSignatureView" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group margin-top-20">
                    <label for="ShowTrailersOnSchedule" class="m-checkbox col-lg-12">
                        <input id="ShowTrailersOnSchedule" type="checkbox" name="ShowTrailersOnSchedule" value="true" checked="@(Model.ShowTrailersOnSchedule ? "checked" : null)">
                        @L("ShowTrailersOnSchedule")
                        <span></span>
                    </label>
                </div>
                <div class="form-group margin-top-20">
                    <label for="ValidateUtilization" class="m-checkbox col-lg-12">
                        <input id="ValidateUtilization" type="checkbox" name="ValidateUtilization" value="true" checked="@(Model.ValidateUtilization ? "checked" : null)">
                        @L("ValidateUtilization")
                        <span></span>
                    </label>
                </div>
                @if (await FeatureChecker.IsEnabledAsync(AppFeatures.SmsIntegrationFeature))
                {
                    <div class="form-group margin-top-20">
                        <label for="AllowSmsMessages" class="m-checkbox col-lg-12">
                            <input id="AllowSmsMessages" type="checkbox" name="AllowSmsMessages" value="true" @(Model.AllowSmsMessages ? "checked=\"checked\"" : "")>
                            @L("Settings_AllowSmsMessages")
                            <span></span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="form-group col-8">
                            <label for="SmsPhoneNumber">@L("PhoneNumberToSendMessagesFrom") <i class="fa fa-info-circle text-primary" id="PhoneNumberToSendMessagesFromInfo" title="@L("ThisNumberMustBeTwilioNumber")"></i></label>
                            <input type="text" id="SmsPhoneNumber" name="SmsPhoneNumber" class="form-control" value="@Model.SmsPhoneNumber" placeholder="Cell Phone Number (format: +15554321)" maxlength="15">
                        </div>
                        <div class="form-group col-4">
                            <label class="col-12">&nbsp;</label>
                            <button class="btn btn-primary" id="TestPhoneNumberButton" data-test="number">Test</button>
                        </div>
                    </div>
                    @if (await FeatureChecker.IsEnabledAsync(AppFeatures.DispatchingFeature))
                    {
                        <div class="row">
                            <div class="form-group col-8">
                                <label class="required-label" asp-for="DriverDispatchSms">@L("DriverDispatchSms")</label>
                                <textarea class="form-control" asp-for="DriverDispatchSms" rows="3" maxlength="@(Dispatch.MaxMessageLength - 100)"></textarea>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-12">&nbsp;</label>
                                <button class="btn btn-primary" id="SendTestMessageButton" data-test="message">Send Test Message</button>
                            </div>
                        </div>
                    }
                }

                <div class="row">
                    <div class="form-group col-8">
                        <label class="required-label" asp-for="DriverStartTime">@L("DriverStartTime")</label>
                        <textarea class="form-control" asp-for="DriverStartTime" rows="3" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-8">
                        <label class="required-label" asp-for="DefaultStartTime">@L("DefaultStartTime")</label>
                        <input type="text" class="form-control" asp-for="DefaultStartTime" autocomplete="off" required>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
