@using DispatcherWeb.Features
@using Abp.Application.Features
@model DispatcherWeb.Configuration.Tenants.Dto.TimeAndPaySettingsEditDto


<div class="tab-pane" id="SettingsTimeAndPayTab">
    <div class="row">
        <div class="col-sm-6">
            <h5>@L("TimeAndPay")</h5>
            <form id="TimeAndPaySettingsForm" class="m-form">
                <div class="form-group">
                    <label for="TimeTrackingDefaultTimeClassificationId">@L("TimeTrackingDefaultTimeClassification")</label>
                    <select class="form-control" id="TimeTrackingDefaultTimeClassificationId" name="TimeTrackingDefaultTimeClassificationId" required="required">
                        @if (Model.TimeTrackingDefaultTimeClassificationId > 0)
                        {
                            <option value="@Model.TimeTrackingDefaultTimeClassificationId" selected>@Model.TimeTrackingDefaultTimeClassificationName</option>
                        }
                    </select>
                </div>
                @if (await FeatureChecker.IsEnabledAsync(AppFeatures.DriverProductionPayFeature))
                {
                    <div class="form-group">
                        <label for="AllowProductionPay" class="m-checkbox col-lg-12">
                            <input id="AllowProductionPay" type="checkbox" name="AllowProductionPay" value="true" checked=@(Model.AllowProductionPay ? "checked" : null)>
                            @L("AllowProductionPay")
                            <span></span>
                        </label>
                    </div>
                    <div class="ml-4">
                        <div class="form-group">
                            <label for="DefaultToProductionPay" class="m-checkbox col-lg-12">
                                <input id="DefaultToProductionPay" type="checkbox" name="DefaultToProductionPay" value="true" checked=@(Model.DefaultToProductionPay ? "checked" : null)>
                                @L("DefaultToProductionPay")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="PreventProductionPayOnHourlyJobs" class="m-checkbox col-lg-12">
                                <input id="PreventProductionPayOnHourlyJobs" type="checkbox" name="PreventProductionPayOnHourlyJobs" value="true" checked=@(Model.PreventProductionPayOnHourlyJobs ? "checked" : null)>
                                @L("PreventProductionPayOnHourlyJobs")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="AllowDriverPayRateDifferentFromFreightRate" class="m-checkbox col-lg-12">
                                <input id="AllowDriverPayRateDifferentFromFreightRate" type="checkbox" name="AllowDriverPayRateDifferentFromFreightRate" value="true" checked=@(Model.AllowDriverPayRateDifferentFromFreightRate ? "checked" : null)>
                                @L("AllowDriverPayRateDifferentFromFreightRate")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="AllowLoadBasedRates" class="m-checkbox col-lg-12">
                                <input id="AllowLoadBasedRates" type="checkbox" name="AllowLoadBasedRates" value="true" checked=@(Model.AllowLoadBasedRates ? "checked" : null)>
                                @L("AllowLoadBasedRates")
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="DriverIsPaidForLoadBasedOn">@L("DriverIsPaidForLoadBasedOn")</label>
                            <select class="form-control" id="DriverIsPaidForLoadBasedOn" name="DriverIsPaidForLoadBasedOn" asp-items="@Html.GetEnumSelectList(Model.DriverIsPaidForLoadBasedOn)"></select>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
