@using System.Threading.Tasks
@using DispatcherWeb.Web.Areas.App.Models.Common.Modals
@using DispatcherWeb.Scheduling.Dto
@model GetTrucksToAssignInput
@await Html.PartialAsync("~/Areas/app/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Assign Trucks"))
<div class="modal-body">
    <form class="m-form m-form--label-align-right">
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="Shift" />
        <input type="hidden" asp-for="OfficeId" />
        <input type="hidden" asp-for="OrderLineId" />
        <div class="row justify-content-end">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="VehicleCategoryIdsFilter">@L("Category")</label>
                    <select class="form-control filter" name="VehicleCategoryIds" id="VehicleCategoryIdsFilter" multiple data-placeholder="All">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="DriverNameFilter">@L("Driver")</label>
                    <div class="typeahead-block-container">
                        <input class="form-control filter" id="DriverNameFilter" name="DriverName" placeholder="All" type="text">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="BedConstructionFilter">@L("Bed")</label>
                    <select class="form-control filter" name="BedConstruction" id="BedConstructionFilter" asp-items="Html.GetEnumSelectList<BedConstructionEnum>()">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="IsApportionedFilter">@L("Apportioned")</label>
                    <select class="form-control filter" name="IsApportioned" id="IsApportionedFilter">
                        <option value="">All</option>
                        <option value="true">@L("Apportioned")</option>
                        <option value="false">@L("NonApportioned")</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="form-group text-center">
                    <label class="control-label" for="">&nbsp;</label>
                    <div>
                        <button type="button" id="AddToScheduleButton" class="btn btn-primary">
                            @L("AddToSchedule") <i class="fa fa-chevron-right ml-3"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="">&nbsp;</label>
                    <div class="row justify-content-center">
                        <button type="submit" id="SearchButton" class="btn btn-primary d-block">
                            <i class="fa fa-search"></i> @L("Search")
                        </button>
                        <button type="button" id="ClearSearchButton" class="btn btn-default d-block" style="width:100px">
                            <i class="fa fa-times"></i> @L("Clear")
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered table-hover" id="TrucksTable"></table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
</div>