<div class="d-none">
    <div class="map-help" id="mapHelp">
        <div class="map-help-header">
            <h5>@L("Help")</h5>
            <button type="button" class="map-help-collapse"><i class="fas fa-angle-double-up"></i></button>
            <button type="button" class="map-help-close"><i class="fas fa-times"></i></button>
        </div>
        <div class="map-help-body">
            <p><strong>@L("AddPin"): </strong>@L("AddPinHelp")</p>
            <p><strong>@L("RemovePin"): </strong>@L("RemovePinHelp")</p>
            <p><strong>@L("MovePin"): </strong>@L("MovePinHelp")</p>
        </div>
    </div>
</div>