@using System.Threading.Tasks
@using Abp.Extensions
@using DispatcherWeb.Features
@using DispatcherWeb.Configuration
@using Abp.Configuration
@using Abp.Application.Features
@using DispatcherWeb.Infrastructure.Extensions
@using DispatcherWeb.Web.Areas.App.Startup
@using DispatcherWeb.Web.Areas.App.Models.Invoices
@model InvoiceIndexViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.Invoices;
}

@section Scripts {
    <environment names="Development">
        <script src="~/view-resources/Areas/app/Views/Invoices/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/app/Views/Invoices/Index.min.js" asp-append-version="true"></script>
    </environment>
}


<div class="m-subheader ">
    <div class="row align-items-center">
        <div class="mr-auto col-6 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("InvoicesHeader")</span>
            </h3>
            <span class="m-section__sub">
                @*@L("InvoicesHeaderInfo")*@
            </span>
        </div>
        <div class="col-6 col-md-6 text-right">
            @if (await FeatureChecker.IsEnabledAsync(AppFeatures.QuickbooksFeature))
            {
                var accountingIntegrationKind = (QuickbooksIntegrationKind)await SettingManager.GetSettingValueAsync<int>(AppSettings.Invoice.Quickbooks.IntegrationKind);
                @if (accountingIntegrationKind.IsIn(QuickbooksIntegrationKind.Desktop, QuickbooksIntegrationKind.QboExport, QuickbooksIntegrationKind.TransactionProExport))
                {
                    <button type="button" id="QbExportButton" class="btn btn-primary" data-toggle="tooltip" title="@L("CreateQuickBooksExportFile")">@L("QbExport")</button>
                }
                else if ((int)accountingIntegrationKind == (int)QuickbooksDeprecatedIntegrationKind.Online && await SettingManager.IsQuickbooksConnected())
                {
                    <button type="button" id="UpdateQboButton" class="btn btn-primary" data-toggle="tooltip" title="@L("UpdateInvoicesToQuickBooksOnline")">@L("UpdateQbo")</button>
                }
            }
            <button type="button" id="CreateNewInvoiceButton" class="btn btn-primary" asp-action="Details"><i class="fa fa-plus"></i> @L("AddNew")</button>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <form class="m-form m-form--fit m--margin-bottom-20">
                <div>
                    <div class="row m--margin-bottom-20">
                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                            <label class="control-label" for="IssueDateFilter">@L("IssueDate")</label>
                            <input class="form-control m-input" id="IssueDateFilter" type="text" autocomplete="off">
                            <input type="hidden" class="filter" name="IssueDateStart" id="IssueDateStartFilter" />
                            <input type="hidden" class="filter" name="IssueDateEnd" id="IssueDateEndFilter" />
                        </div>
                        @if ((await FeatureChecker.GetValueAsync(AppFeatures.AllowMultiOfficeFeature)).To<bool>())
                        {
                            <div class="form-group col-lg-3 col-md-4 col-sm-6">
                                <label class="control-label">@L("Office")</label>
                                <select class="form-control m-input filter" name="OfficeId" id="OfficeIdFilter" data-display-name="OfficeName">
                                    <option value="">Select an office</option>
                                </select>
                            </div>
                        }
                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                            <label class="control-label" for="CustomerIdFilter">@L("Customer")</label>
                            <select class="form-control m-input filter" name="CustomerId" id="CustomerIdFilter" data-display-name="CustomerName">
                                <option value="">Select a customer</option>
                            </select>
                        </div>
                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                            <label class="control-label" for="StatusFilter">@L("Status")</label>
                            <select class="form-control m-input filter" name="Status" id="StatusFilter" asp-items="Html.GetEnumSelectList<InvoiceStatus>()">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                            <label class="control-label" for="BatchIdFilter">@L("BatchId")</label>
                            <input class="form-control m-input filter" name="BatchId" id="BatchIdFilter" type="text" value="@Model.BatchId">
                        </div>
                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile" @Html.StyleDisplayNone((QuickbooksIntegrationKind)await SettingManager.GetSettingValueAsync<int>(AppSettings.Invoice.Quickbooks.IntegrationKind) == QuickbooksIntegrationKind.None)>
                            <label class="control-label" for="UploadBatchId">@L("ExportBatchId")</label>
                            <input class="form-control m-input filter" name="UploadBatchId" id="UploadBatchIdFilter" type="text">
                        </div>
                        <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                            <label class="control-label" for="TicketNumberFilter">@L("TicketNumber")</label>
                            <input class="form-control m-input filter" name="TicketNumber" id="TicketNumberFilter" type="text">
                        </div>
                    </div>

                    <div class="row m--margin-bottom-10">
                        <div class="mr-auto-btn col-sm-12 col-xl-12 text-center text-md-right">
                            <button class="btn btn-primary btn-brand m-btn m-btn--icon" id="SearchButton">
                                <span>
                                    <i class="la la-search"></i>
                                    <span>@L("Search")</span>
                                </span>
                            </button>

                            <button class="btn btn-secondary m-btn m-btn--icon" id="ClearSearchButton">
                                <span>
                                    <i class="la la-close"></i>
                                    <span>@L("Clear")</span>
                                </span>
                            </button>

                        </div>
                    </div>
                </div>
            </form>
            <div class="m-separator m-separator--md m-separator--dashed"></div>
            <div class="row align-items-center" id="TableParentDiv">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="InvoicesTable"></table>
            </div>
        </div>
    </div>
</div>
